{% extends "layout_block.twig" %}
{% import 'flashbox.twig' as flashBox %}
{% import '@article/macro/formInput.twig' as form %}


{% block head_title %}Create a parking{% endblock head_title %}
{% block content_title %}Create a parking{% endblock content_title %}

{% block content %}
    {% if sessionHasFlashMessage()  %}
        {{  flashBox.build(flashMessage()) }}
    {% endif %}
    
    {% if errors is not empty %}
        {{ form.errorSection(errors) }}
    {% endif %}

    <form class="form" action="{{ router('admin.parking', {'action': 'create' }) }}" method="post" enctype="multipart/form-data" >
        <div class="form-section form-section-fields"> 
            {{  form.input('title','The article title',article.title) }}
            {{  form.input('picture','article picture',article.picture,'file') }}
            {{  form.input('city','Parking location(city)',article.city) }}
            {{  form.input('place','count of place',article.place) }}
            {{  form.input('name','parking name',article.name) }}
            {{  form.textArea('description','parking description',article.description) }}
        </div>
        <div class="form-section form-section-buttons"> 
            {{  form.submit('Upload article','submit') }}
            {{  form.link('cancel',  router('admin.parking') , 'form__button form__cancel' ) }}
        </div> 
    </form>
{% endblock content %}