{% extends "layout_block.twig" %}
{% import '@user/factory/userFormFactory.twig' as userForm %}
{% import 'flashbox.twig' as flashBox %}

{% block head_title %} Register {% endblock head_title %}



{% block content_title %}
    <h1 class="block__title form__title">Register</h1>
{% endblock content_title %}

{% block content %}
    {% if errors is not empty %}
        {{ userForm.errorSection(errors) }}
    {% endif %}
    
    {% if sessionHasFlashMessage()  %}
        {{  flashBox.build(flashMessage()) }}
    {% endif %}
    
    <form class="form" action="{{ router('user' , {'action': 'register' }) }}" method="post">
        <div class="form-section form-section-fields"> 
            {{  userForm.input('email','Your email',user.email,'email') }}
            {{  userForm.input('username','Your username',user.username,'text') }}
            {{  userForm.input('password','Your password','','password') }}
            {{  userForm.input('passwordConfirmation','Password confirmation','','password') }}
        </div>
        <div class="form-section form-section-buttons"> 
            {{  userForm.button('register','Register','submit','button') }}
            {{  userForm.link('cancel',  router('webpage.home') , 'form__button form__cancel' ) }}
        </div> 
        <div class="form-section form-section-links">
            <nav class='nav'>
                {{  userForm.link('Do you alreay have an account ?',  router('user',{'action':'signIn'}),'nav__item' ) }}
            </nav>
        </div> 
    </form>
{% endblock content %}