{% extends "block_layout.twig" %}
{% import '@user/factory/userInputMacro.twig' as form %}

{% block head_title %} Sign in {% endblock head_title %}

{% block content_title %}Sign in{% endblock content_title %}       
{% block content %}
    <form class="form" action="{{ router('user' , {'action': 'signIn' }) }}" method="post">
        <div class="form-section form-section-fields"> 
            {{  form.input('username','Your username',user.username,'text') }}
            {{  form.input('password','Your password',user.password,'text') }}
        </div>
        <div class="form-section form-section-buttons"> 
            {{  form.button('sign in','Sign In','submit','button') }}
            {{  form.link('cancel',  router('webpage.home') ) }}
        </div> 
    </form>
{% endblock content %}    
         
         




