{% extends "layout_block.twig" %}
{% import '@user/macro/formInput.twig' as form %}
{% import 'macro/flashbox.twig' as flashBox %}
{% block head_title %} Sign in {% endblock head_title %}



{% block content_title %}
    <h1 class="block__title form__title">Sign in</h1>
{% endblock content_title %}
{% block content %}
    {% if errors is not empty %}
        {{ form.errorSection(errors) }}
    {% endif %}
    
    {% if sessionHasFlashMessage()  %}
        {{  flashBox.build(flashMessage()) }}
    {% endif %}
    
    <form class="form" action="{% block formAction %} {{ router('user' , {'action': 'signIn' }) }} {% endblock formAction %}" method="post">
        <div class="form-section form-section-fields"> 
            {{  form.input('username','Your username',user.username,'text') }}
            {{  form.input('password','Your password',user.password,'password') }}
        </div>
        <div class="form-section form-section-buttons"> 
            {{  form.submit('sign in','Sign In','submit','button') }}
            {{  form.link('cancel',  router('webPage.home') , 'form__button form__cancel' ) }}
        </div> 
        <div class="form-section form-section-links">
            <nav class='nav'>
                {{  form.link('Password forgotten ?',  router('user',{'action':'register'}),'nav__item' ) }}
                {{  form.link('Do you need an account ?',  router('user',{'action':'register'}),'nav__item' ) }}
            </nav>
        </div> 
    </form>
{% endblock content %}    
         
         




