{% macro build(pagination,urlName='#',action='index',slug='page') %}
    <div class="pagination">
        <a class="pagination__item" href="{{ previousLink(pagination,urlName,action,slug) }}"> {{ '<<'|escape }} </a>
        {% for page in pagination.links %}
            <a class="pagination__item {{ page == pagination.currentPage ? 'pagination__item--current' }}" href="{{ pageLink(pagination,urlName,action,slug) }}"> {{ page }}  </a>
        {% endfor %}
        <a class="pagination__item" href="{{ nextLink(pagination,urlName,action,slug) }}"> {{ '>>'|escape }} </a>
    </div>
{% endmacro %}